# Java
*.class
*.jar
*.war
*.ear
*.logs
.mtj.tmp/
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

# IDE - Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# IDE - NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# IDE - VS Code
.vscode/
.code-workspace

# Angular
/frontend/dist
/frontend/tmp
/frontend/node_modules
/frontend/.angular/cache

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
.npm

# Kotlin/Android
*.apk
*.aab
*.ap_
*.dex
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.externalNativeBuild
.cxx

# Outros
.DS_Store
Thumbs.db
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.swp
*.swo 