# Dependências
node_modules
.pnp
.pnp.js

# Ambiente de teste
coverage

# Build
dist
build
.next
out
web-build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos temporários
*.swp
*.swo

# Backend
backend/dist
backend/node_modules

# Frontend
frontend/node_modules
frontend/.next
frontend/out

# Mobile
mobile/node_modules
mobile/.expo
mobile/.expo-shared

# Docker volumes
postgres_data
redis_data

# Certificados e chaves (inseguro armazenar em repositórios)
*.pem
*.key
*.crt 